@import "../../../css-config/mixins.scss";

.hero-banner{
    color: #fff;
    padding: 40px 0;
    background-image: linear-gradient(to right, #8e2de2, #4a00e0) ;
    position: relative;
    .content{
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
    }
    .text-content{}
    .ctas{
        display: flex;
    }
}